body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px;
}

.container {
    background: #ffffff;
    width: 320px;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 1255px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add, .hapus, .edit {
    width: 100%;
    padding: 8px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.add:hover, .hapus:hover, .edit:hover {
    background: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 6px 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button-group {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

li button {
    width: 90px;
    height: 40px;
    padding: 8px 8px;
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
}

.hapus-semua{
    right: 50px;
    display: flex;
    position: fixed;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
}

.hapus-semua:hover{
    background-color: #45a049;
}
